{{define "hero"}}

<header class="w3-container w3-center hero-image w3-theme" style="padding:128px
  16px">
  <h1 class="w3-margin w3-jumbo">[C] Centipair</h1>
  <p class="w3-xlarge">Transforming Business</p>
</header>
{{end}}

{{define "content"}}
<div class="w3-row">
  <div class="w3-col m4 w3-container w3-padding-16 w3-theme">
    <h3>Architectural Planning and Design</h3>
    <p>Making high-level design decisions for optimal performance of sofware by
      reducing cost and maintenance overhead.</p>
  </div>
  <div class="w3-col m4 w3-container w3-padding-16 w3-theme-l1">
    <h3>Enterprise Application Integration</h3>
    <p>Unrestricted sharing of data and business processes among any connected
      application or data sources in the enterprise.</p>
  </div>
  <div class="w3-col m4 w3-container w3-padding-16 w3-theme">
    <h3>Product Life Cycle Management</h3>
    <p>Help you make better decisions about product development, management,
      design, production and maintenance.</p>
  </div>
</div>

<div class="w3-row-padding w3-container">
  <div class="w3-center w3-padding-64">
    <span class="w3-xlarge w3-bottombar w3-border-theme w3-padding-16">Our
      Expertise</span>
  </div>
  <div class="w3-col m3 w3-container w3-padding">
    <div class="w3-card w3-padding cf">
      <h3><i class="fas fa-chart-bar"></i> Big data analytics</h3>
      <p>
        Transform raw data into meaningful insights
      </p><ul>
        <li>Distributed Computing</li>
        <li>Predictive analytics for financial markets</li>
        <li>Business intelligence for retail markets</li>
        <li>Artificial Intelligence for decision making</li>
      </ul>
      <p></p>
    </div>
  </div>
  <div class="w3-col m3 w3-container w3-padding">
    <div class="w3-card w3-padding cf">
      <h3><i class="fas fa-cart-arrow-down"></i> E-Commerce Solutions </h3>
      <p>
      </p><h5>We offer our expertise in:</h5>
      <ul>
        <li>Business Setup</li>
        <li>Implementing a payment processing and connecting with your bank.</li>
        <li>Ship your products easily.</li>
      </ul>
      <p></p>
    </div>
  </div>
  <div class="w3-col m3 w3-container w3-padding">
    <div class="w3-card w3-padding cf">
      <h3><i class="fas fa-chart-line"></i> High Traffic Websites</h3>
      <p>
      </p><h5>Handle billions of users</h5>
      <ul>
        <li>Clustered Load Management</li>
        <li>Content Delivery Networks</li>
        <li>Website Optimization for reducing Bandwidth Costs</li>
        <li>Distributed Caching</li>
      </ul>
      <p></p>
    </div>
  </div>
  <div class="w3-col m3 w3-container w3-padding">
    <div class="w3-card w3-padding cf">
      <h3><i class="fas fa-cloud-upload-alt"></i> Cloud Solutions</h3>
      <p>
        Scale your applications with Cloud Powered Solutions
      </p><ul>
        <li>Automated developer operations</li>
        <li>Autoscale your applications</li>
        <li>Distributed Content Delivery</li>
      </ul>
      <p></p>
    </div>
  </div>
</div>

<div class="w3-row w3-container">
  <div class="w3-center w3-padding-64">
  <span class="w3-xlarge w3-bottombar w3-border-theme w3-padding-16">Contact Us</span>
  </div>
  <div class="w3-margin w3-center">
  CENTIPAIR TECHNOLOGIES PRIVATE LIMITED<br>
  XVII/587 Thakadiyel Building<br>
  PALA<br>
  Kottayam - 686575<br>
  Kerala, India
  <br>Email: <strong>info@centipair.com</strong></div>
  </div>
<div class="w3-container footer-theme w3-center">
  <h5>Powered by: <a href="https://www.centipair.com" class="hyper-link">[C] Centipair Technologies</a></h5>
</div>
{{end}}