{{define "meta"}}
<meta name="description" content="Add meta description here">
<meta name="keyword" content="meta, key, words">
{{end}}
{{define "title"}} Documentation{{end}}
{{define "css"}}
<link href="{{.StaticUrl}}/prism/prism.css" rel="stylesheet" />
{{end}}
{{define "hero"}}
<section class="hero is-documentation">
  <div class="hero-body">
    <div class="columns">
      <div class="column is-12">
        <div class="container content">
          <h1 class="is-size-1">Documentation</h1>
          <h3 class="subtitle">Let's start building that awesome website</h3>
          <a href="https://github.com/devasiajoseph/wemebox" target="_blank" class="button is-dark is-large">
            <span class="icon">
              <i class="fab fa-github"></i>
            </span>
            <span>Github</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}
{{define "content"}}
<section class="section">

  <div class="container">
    
    <div class="columns">
      <div class="column is-3">
	<aside class="menu  is-hidden-mobile">	  
	  <ul class="menu-list">
	    <li><a href="#getting-started">1. Getting started</a></li>
	    <li><a href="#adding-pages">2. Adding pages</a></li>
	    <li><a href="#base-pages">3. Base Page</a></li>
	    <li><a href="#static-pages">4. Static Page</a></li>
	    <li><a href="#template-pages">5. Template Page</a></li>
	    <li><a href="#markdown-pages">6. Markdown Page</a></li>
	    <li><a href="#dynamic-pages">7. Dynamic Page</a></li>
	    <li><a href="#raw-pages">8. Raw Pages</a></li>
	    <li><a href="#standalone-pages">9. Standalone Pages</a></li>
	    <li><a href="#image-files">10. Image Files</a></li>
	    <li><a href="#css-editor">11. CSS editor</a></li>
	    <li><a href="#javascript-editor">12. Javascript editor</a></li>
	    <li><a href="#configuration">13. Configuration</a></li>
	    <li><a href="#deployment">14. Deployment</a></li>
	    <li><a href="#database">15. Database</a></li>
	  </ul>
	 
	</aside>
	
      </div>
      <div class="column is-9">
	<div class="content is-medium" id="getting-started">
	  <h4>1. Getting started</h4>
	  <ol>
	    <li>Download the the zip file from <a href="http://www.wemebox.com/r/downloads.html">Downloads</a> for your Operating System. It has binaries for linux, windows, and mac (32 bit and 64 bit)
	    </li>
	    <li>Extract the file and open the directory
	    </li>
	    <li>Run the binary inside the directory. <b>If you have trouble running the binary, please refer <a href="/p/troubleshooting.html">Troubleshooting</a></b></li>
	    <li>Once you run your binary, open your browser and go to <a href="http://127.0.0.1:8080">http://127.0.0.1:8080</a>  for home page and <a href="http://127.0.0.1:8080/admin">http://127.0.0.1:8080/admin</a> for admin page 
	    </li>
	    <li>Default login credentials for admin will be <b>username:</b> admin <b>password:</b> root123
	    </li>
	  </ol>
	</div>
	<div class="content is-medium" id="adding-pages">
	  <h4>2. Adding Pages</h4>
	  <ol>
	    <li>Pages can be modified under Pages menu item from admin area or directly from html/ directory
	    </li>
	    <li>Static files such as css,javascript,images,videos must be added to <b>/static</b> directory
	    </li>
	  </ol>
	</div>
	<div class="content is-medium" id="base-pages">
	  <h4>3. Base Pages</h4>
	  <p>
	    Base pages are the templates for static pages. Base pages must have template blocks in place to add content from your static page like given below.
	  </p>
	  <pre>
	    <code class="language-markup">
	    {{`{{block "block-name" .}}`}} {{`{{end}}`}}
	    </code>
	  </pre>
	  <p>
	    You can use your own block names or just use the default block names generated automatically like given below.
	  </p>
	  
	  <pre>
	    <code class="language-markup">
	      {{`{{block "content" .}}`}} {{`{{end}}`}}
	    </code>
	  </pre>
	</div>
	<div class="content is-medium" id="static-pages">
	  <h4>4. Static Pages</h4>
	  <p>
	    Static pages inherit a <b>base page</b>. Contents in the static pages template blocks appear in:
	  </p>
	  
	  <pre class="example">
	    <code class="language-markup">
	      {{`{{define "content"}}`}} {{`{{end}}`}}
	    </code>
	  </pre>
	</div>
	<div class="content is-medium" id="template-pages">
	  <h4>5. Template Pages</h4>
	  <p>
	    Template pages are templates for Markdown and Dynamic pages. Template pages inherit their layout from a <b>Base Page</b> like static page.
	    Template page will have the following tags: 
	  </p>
	  
	  <pre class="example">
	    <code class="language-markup">
	      {{`{{define "title"}}`}} {{`{{.Title}}`}} {{`{{end}}`}}
	      {{`{{define "content"}}`}}
	      {{`{{.HtmlContent}}`}}
	      {{`{{end}}`}}
	    </code>
	  </pre>
	  
	  <p><b>.HtmlContent</b> tag will contain the converted html content from the markdown or dynamic page input</p>
	</div>
	<div class="content is-medium" id="markdown-pages">
	  <h4>6. Markdown Pages</h4>
	  <p>
	    Markdown pages are for markdown content. More information on markdown format can be found here: <a href="https://en.wikipedia.org/wiki/Markdown">Markdown</a>
	  </p>
	  <ol>
	    <li><b>Title</b> can be used to specify the page title.
	    </li>
	    <li><b>Url Slug</b> is for <b>SEO</b>.It is the unique url for the markdown page. It can be autogenerated from title or it can be any unique SEO friendly title
	    </li>
	    <li><b>Base File</b> is the base page layout
	    </li>
	    <li><b>Template file</b> is the template page for the markdown content
	    </li>
	    <li>The markdown editor can be used to enter the markdown content and click <b>preview</b> to view how the content will look like.
	    </li>
	  </ol>
	</div>
	<div class="content is-medium" id="dynamic-pages">
	  <h4>7. Dynamic Pages</h4>
	  <p>
	    Dynamic pages can be used to create web pages just like a text editor.
	  </p>
	  <ol>
	    <li><b>Title</b> can be used to specify the page title.
	    </li>
	    <li><b>Url Slug</b> is for <b>SEO</b>.It is the unique url for the markdown page. It can be autogenerated from title or it can be any unique SEO friendly title
	    </li>
	    <li><b>Base File</b> is the base page layout
	    </li>
	    <li><b>Template file</b> is the template page for the markdown content
	    </li>
	    <li>The text editor is used to enter the content that is needed for the page
	    </li>
	  </ol>
	</div>
	<div class="content is-medium" id="raw-pages">
	  <h4>8. Raw Pages</h4>
	  <p>
	    Sometimes you might want to create html pages with your favorite website creator application.
	    You create the raw page with static page format and point the url to <b>/r/filename.html</b>
	  </p>
	</div>
	<div class="content is-medium" id="standalone-pages">
	  <h4>9. Standalone Pages</h4>
	  <p>
	    If you want to create a standlone page, which is pure html file, just create the html file and point the url to <b>/sp/filename.html</b>
	  </p>
	  
	</div>
	<div class="content is-medium" id="image-files">
	  <h4>10. Image Files</h4>
	  <p>
	    Image files can be added by clicking on the <b>Files</b> and then <b>Add Images</b>
	  </p>
	</div>
	<div class="content is-medium" id="css-editor">
	  <h4>11. CSS Editor</h4>
	  <p>
	    You can edit CSS files from <b>Files</b> -&gt; <b>CSS</b>. Enter the file path to edit or create a new file.
	    All files are <b>saved in static directory</b>
	  </p>
	</div>
	<div class="content is-medium" id="javascript-editor">
	  <h4>12. Javascript Editor</h4>
	  <p>
	    You can edit javascript files from <b>Files</b> -&gt; <b>Javascript</b>. Enter the file path to edit or create a new file.
	    All files are <b>saved in static directory</b>
	  </p>
	</div>
	<div class="content is-medium" id="configuration">
	  <h4>13. Configuration</h4>
	  <ol class="org-ul">
	    <li><b>port:</b> 8080 (default port is 8080 for development. If you set ssl true, the webserver will be started at port 443)
	    </li>
	    
	    <li><b>ssl</b>: false (For development set this to false. When this is set to true, the application will automatically setup ssl certificate for you)
	    </li>
	    
	    <li><b>compress</b>: true (Static files will be compressed by default for faster downloads)   <b>Note:</b> If you are using your own webserver like nginx, just set this to false
	    </li>
	    
	    <li><b>dev</b>: This config setting is set to true while you are developing on your Desktop computer. Set this to true while deploying.
	    </li>
	    
	    <li><b>domain</b>: Set this value if you are using "https" in production. Use top level domain name <b>Example</b>:mydomain.com
	    </li>
	  </ol>
	</div>
	<div class="content is-medium" id="deployment">
	  <h4>14. Deployment</h4>
	  <p>
	    Wemebox doesn't need a webserver or database server or installation of any kind to run. Everything required to run your application is embedded inside wemebox executable.
	    Make sure you have setup your config file for production as explained in <a href="#config-file">Config Files</a>
	  </p>
	  <p>If you want to use your own webserver like Nignix or Apache, run the wemebox application in a different port and setup a reverse proxy.</p>
	</div>
	<div class="content is-medium" id="database">
	  <h4>15. Database</h4>
	  <p>
	    Wemebox comes with an embedded database system. It saves website data into a file inside <b>/dbf</b> directory. If you need to take backups please take a backup of this directory
	  </p>
	</div>
      </div>
</section>
{{end}}
{{define "javascript"}}
<script src="{{.StaticUrl}}/prism/prism.js"></script>
{{end}}
