{{define "meta"}}
  <meta name="description" content="Add meta description here">
  <meta name="keyword" content="meta, key, words">
{{end}}
{{define "title"}}More Services{{end}}
{{define "content"}}
<section class="section">

  <div class="container">
    
    <div class="columns">
      <div class="column is-3">
	<div class="fixed">
	  For custom services please write to us on:
	  <h1 class="title">info@wemebox.com</h1>
	</div>
      </div>
      <div class="column is-9">
	<div class="box">
	  <div class="columns">
	    <div class="column is-2 has-text-centered">
	       <img src="{{.StaticUrl}}/icons/icons8-website-100.png">
	    </div>
	    <div class="column is-8">
	      <h4 class="title is-size-4">Wemebox</h4>
	      <p>
		Wemebox will be free 
		You can download the wemebox application from the <a href="/r/downloads.html">downloads</a> page and use it for free.
		
	      </p>
	      <p><a class="button is-info" href="/r/downloads.html">Download now!</a></p>
	    </div>
	    <div class="column is-2">
	      <p class="is-size-4 has-text-centered">Free</p>
	    </div>
	  </div>
	</div>
	
	<div class="box">
	  <div class="columns">
	    <div class="column is-2 has-text-centered">
	       <img src="{{.StaticUrl}}/icons/icons8-server-100.png">
	    </div>
	    <div class="column is-8">
	      <h4 class="title is-size-4">Deploy on cloud server</h4>
	      <p>
		Deploy your website on a secure webserver.
	      </p>
	    </div>
	    <div class="column is-2">
	      <p class="is-size-4 has-text-centered">$100</p>
	    </div>
	  </div>
	</div>
	<div class="box">
	  <div class="columns">
	    <div class="column is-2 has-text-centered">
	      <img src="{{.StaticUrl}}/icons/icons8-web-100.png">
	    </div>
	    <div class="column is-8">
	      <h4 class="title is-size-4">Website Template Design</h4>
	      <p>
		Custom design template for your wemebox website.
	      </p>
	    </div>
	    <div class="column is-2">
	      <p class="is-size-4 has-text-centered">$400</p>
	    </div>
	  </div>
	</div>
	<div class="box">
	  <div class="columns">
	    <div class="column is-2 has-text-centered">
	       <img src="{{.StaticUrl}}/icons/icons8-internet-100.png">
	    </div>
	    <div class="column is-8">
	      <h4 class="title is-size-4">Multiple websites support</h4>
	      <p>
		Deploy thousands of websites on the same sever. Wemebox supports multisite feature which can be used to deploy many websites on a single installation of wemebox.
	      </p>
	    </div>
	    <div class="column is-2">
	      <p class="is-size-4 has-text-centered">$1500</p>
	    </div>
	  </div>
	</div>
	<div class="box">
	  <div class="columns">
	    <div class="column is-2 has-text-centered">
	       <img src="{{.StaticUrl}}/icons/icons8-cloud-100.png">
	    </div>
	    <div class="column is-8">
	      <h4 class="title is-size-4">Managed hosting</h4>
	      <p>
		Let us manage your wemebox website.
	      </p>
	    </div>
	    <div class="column is-2">
	      <p class="is-size-4 has-text-centered">$50/month</p>
	    </div>
	  </div>
	</div>
	<div class="box">
	  <div class="columns">
	    <div class="column is-2 has-text-centered">
	       <img src="{{.StaticUrl}}/icons/icons8-classroom-100.png">
	    </div>
	    <div class="column is-8">
	      <h4 class="title is-size-4">Training</h4>
	      <p>
		Get live training on how to create websites with Wemebox through video confrerencing.
	      </p>
	    </div>
	    <div class="column is-2">
	      <p class="is-size-4 has-text-centered">$100</p>
	    </div>
	  </div>
	</div>
	

      </div>
    </div>
  </div>
</section>
{{end}}
  
