{{define "meta"}}
<meta name="description" content="Add meta description here">
<meta name="keyword" content="meta, key, words">
{{end}}
{{define "title"}} Download for free{{end}}
{{define "content"}}

<section class="section">

  <div class="container">
    <h1 class="title">Download Wemebox. Its Free!</h1>
    <div class="box">
      <div class="columns">
	<div class="column is-4">
	  <p><span class="subtitle is-3">Wemebox</span><a href="">(stable version)</a></p>
	  <p>Download the latest version of Wemebox. All Wemebox versions comes with free maintenance and updates.</p>
	</div>
	<div class="column is-4">
	  <table class="table">
	    <thead>
	      <tr>
		<th>
		  Downloads
		</th>
		<th></th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
		<td>
		  <a href="{{.StaticUrl}}/downloads/windows-64.zip"> <i class="fab fa-windows"></i> Windows 64 bit</a>
		</td>
		<td>
		  <a href="{{.StaticUrl}}/downloads/windows-32.zip"><i class="fab fa-windows"></i> Windows 32 bit</a>
		</td>
	      </tr>
	      
	      <tr>
		<td>
		  <a href="{{.StaticUrl}}/downloads/linux-64.zip"> <i class="fab fa-linux"></i> Linux 64 bit</a>
		</td>
		<td>
		  <a href="{{.StaticUrl}}/downloads/linux-32.zip"> <i class="fab fa-linux"></i> Linux 32 bit</a>
		</td>
		
	      </tr>
	      
	      <tr>
		<td>
		  <a href="{{.StaticUrl}}/downloads/mac-64.zip"><i class="fab fa-apple"></i> Mac 64 bit</a>
		</td>
		<td>
		  <a href="{{.StaticUrl}}/downloads/mac-32.zip"> <i class="fab fa-apple"></i> Mac 32 bit</a>
		</td>
	      </tr>
	      
	    </tbody>
	  </table>
	</div>
      </div>
    </div>
    <b>Have trouble downloading? Please refer <a href="/p/troubleshooting.html">troubleshooting</a></b> 
    
    
  </div>
</section>
<div class="container">

 
  
</div>
{{end}}
  
