{{define "title"}}Web Content Management System{{end}}


{{define "content"}}
  <!---here-->
  <div class="banner">
    <div class="container">
      <div class="carousel-caption">
	
	<h3>A faster way to <span>Create Websites</span></h3>
	<p>Just download and start building your website</p>
	<div class="voyileits-button top_ban_voyile">
	  <a class="btn btn-primary btn-lg" href="about.html">Download Now</a>
	</div>
      </div>
    </div>
  </div>
  <!--//banner -->
  <!-- about -->
  <div class="voyile-about voy3ls-section text-center" id="about">
    <div class="container">
      <h3 class="heading-voyileinfo">Website Management System<span></span></h3>
      <div class="voyileits-about-grid">
	<p>Wemebox is an easier way to start building great websites, which supports production ready features out of the box</p>
      </div>
    </div>
  </div>
  <!-- //about -->
  <!-- about-bottom -->
  <div class="voyileits-about-btm">
    <div class="container">
      <div class="row voy3-flex">
	<div class="col-md-4 ab1 voyileits-about-grid1">
	  <span class="fa fa-industry" aria-hidden="true"></span>
	  <h4 class="voyileinfo-head">Steel Work</h4>
	  <h5>Sunt in culpa</h5>
	  <p>Ncididunt ut labore et enim ad minim.</p>
	  <h5>Sunt in culpa</h5>
	  <p>Ncididunt ut labore et enim ad minim.</p>
	  <h5>Sunt in culpa</h5>
	  <p>Ncididunt ut labore et enim ad minim.</p>
	</div>
	<div class="col-md-4 ab1 voyileits-about-grid2">
	  <span class="fa fa-arrows  voyree-title-list" aria-hidden="true"></span>
	  <h4 class="voyileinfo-head">New Ideas</h4>
	  <h5>Sunt in culpa</h5>
	  <p>Ncididunt ut labore et enim ad minim.</p>
	  <h5>Sunt in culpa</h5>
	  <p>Ncididunt ut labore et enim ad minim.</p>
	  <h5>Sunt in culpa</h5>
	  <p>Ncididunt ut labore et enim ad minim.</p>
	</div>
	<div class="col-md-4 ab1 voyileits-about-grid3">
	  <span class="fa fa-bar-chart  voyree-title-list" aria-hidden="true"></span>
	  <h4 class="voyileinfo-head">Innovation</h4>
	  <h5>Sunt in culpa</h5>
	  <p>Ncididunt ut labore et enim ad minim.</p>
	  <h5>Sunt in culpa</h5>
	  <p>Ncididunt ut labore et enim ad minim.</p>
	  <h5>Sunt in culpa</h5>
	  <p>Ncididunt ut labore et enim ad minim.</p>
	</div>
	<div class="clearfix"></div>
      </div>
    </div>
  </div>
  <!-- //about-bottom -->
  <!-- stats -->
  <div class="stats">
    <div class="container">
      <h3 class="heading-voyileinfo">Our Stats<span class="ttt">That performs mechanical work using  </span></h3>
      <div class="row">
	<div class="col-md-3 voy3layouts_stats_left voy3_counter_grid">
	  <span class="fa fa-graduation-cap" aria-hidden="true"></span>
	  <h3>Supervisors</h3>
	  <p class="counter">45</p>
	  
	</div>
	<div class="col-md-3 voy3layouts_stats_left voy3_counter_grid1">
	  <span class="fa fa-user" aria-hidden="true"></span>
	  <h3>Certified Staff</h3>
	  <p class="counter">165</p>
	  
	</div>
	<div class="col-md-3 voy3layouts_stats_left voy3_counter_grid2">
	  <span class="fa fa-users" aria-hidden="true"></span>
	  <h3>Workers</h3>
	  <p class="counter">563</p>
	  
	</div>
	<div class="col-md-3 voy3layouts_stats_left voy3_counter_grid3">
	  <span class="fa fa-trophy" aria-hidden="true"></span>
	  <h3>Awards</h3>
	  <p class="counter">245</p>
	  
	</div>
      </div>
    </div>
  </div>
  <!-- //stats -->
  <!-- services -->
  <div class="services">
    <h3 class="heading-voyileinfo">What we do<span>That performs mechanical work using  </span></h3>
    <div class="container">
      <div class="row services-top-grids">
	<div class="col-md-4">
	  <div class="grid1">
	    <span class="fa fa-fire"></span>
	    <h4>Commercial Fuel</h4>
	    <p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>
	  </div>
	</div>
	<div class="col-md-4">
	  <div class="grid1">
	    <span class="fa fa-tint"></span>
	    <h4>Oil Revolution</h4>
	    <p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>
	  </div>
	</div>
	<div class="col-md-4">
	  <div class="grid1">
	    <span class="fa fa-flask"></span>
	    <h4>Shell Chemicals</h4>
	    <p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>
	  </div>
	</div>
	
      </div>
      <div class="row services-bottom-grids">
	<div class="col-md-4">
	  <div class="grid1">
	    <span class="fa fa-lightbulb-o"></span>
	    <h4>Power & Energy</h4>
	    <p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>
	  </div>
	</div>
	<div class="col-md-4">
	  <div class="grid1">
	    <span class="fa fa-cogs"></span>
	    <h4>Quality Material</h4>
	    <p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>
	  </div>
	</div>
	<div class="col-md-4">
	  <div class="grid1">
	    <span class="fa fa-industry"></span>
	    <h4>Industry Chemicals</h4>
	    <p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>
	  </div>
	</div>
	
      </div>
    </div>
  </div>
  <!-- //services -->
  <!-- feedback -->
  <div class="feedback section-voy3ls about-voy3ls" id="testimonials">
    <div class="feedback-voyileinfo">
      <div class="container">
	<h3 class="heading-voyileinfo">Testimonials<span class="ttt">That performs mechanical work using  </span></h3>
	<div class="voyileits-feedback-grids">
	  <div class="row owl-carousel owl-theme">
	    <div class="col-md-4 item">
	      <div class="feedback-info">
		<div class="feedback-top">
		  <p> Sed semper leo metus, a lacinia eros semper at. Etiam sodales orci sit amet vehicula pellentesque. </p>
		</div>
		<div class="feedback-grids">
		  <div class="feedback-img">
		    <img src="/static/images/test1.jpg" class="img-fluid" alt="" />
		  </div>
		  <div class="feedback-img-info">
		    <h5>Mary Jane</h5>
		    <p>Vestibulum</p>
		  </div>
		  <div class="clearfix"> </div>
		</div>
	      </div>
	    </div>
	    <div class="col-md-4 item">
	      <div class="feedback-info">
		<div class="feedback-top">
		  <p> Sed semper leo metus, a lacinia eros semper at. Etiam sodales orci sit amet vehicula pellentesque. </p>
		</div>
		<div class="feedback-grids">
		  <div class="feedback-img">
		    <img src="/static/images/test3.jpg" class="img-fluid" alt="" />
		  </div>
		  <div class="feedback-img-info">
		    <h5>Peter</h5>
		    <p>Vestibulum</p>
		  </div>
		  <div class="clearfix"> </div>
		</div>
	      </div>
	    </div>
	    <div class="col-md-4 item">
	      <div class="feedback-info">
		<div class="feedback-top">
		  <p> Sed semper leo metus, a lacinia eros semper at. Etiam sodales orci sit amet vehicula pellentesque. </p>
		</div>
		<div class="feedback-grids">
		  <div class="feedback-img">
		    <img src="/static/images/test2.jpg" class="img-fluid" alt="" />
		  </div>
		  <div class="feedback-img-info">
		    <h5>Steven</h5>
		    <p>Vestibulum</p>
		  </div>
		  <div class="clearfix"> </div>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
  <!-- //feedback -->
  <!-- news -->
  <div class="news">
    <div class="container">  
      <h2 class="heading-voyileinfo">News & Events<span>That performs mechanical work using </span></h2>
      <div class="news-voyileinfo"> 
	<div class="news-voy3row"> 
	  <div class="row voyree-news-grids">
	    <div class="col-md-5 col-xs-5 datevoy3-voyileits">
	      <img src="/static/images/g2.jpg" class="img-fluid" alt=""/>
	    </div>
	    <div class="col-md-7 col-xs-7 datevoy3-voyileits-info ">
	      <h5><a href="#" data-toggle="modal" data-target="#myModal">Sit amet justo vitae</a></h5>
	      <h6>3/01/2019</h6>
	      <p>Proin euismod vehicula vestibulum. Fusce ullamcorper aliquet dolor id egestas. Nulla leo purus, facilisis non cursus ut, egestas sed ipsum.Fusce ullamcorper aliquet dolor id egestas. Nulla leo purus, facilisis non cursus ut, egestas sed ipsum.Fusce ullamcorper aliquet dolor id egestas. Nulla leo purus, facilisis non cursus ut, egestas sed ipsum.</p>
	    </div>
	    
	  </div>
	  
	  
	  <div class="row voyree-news-grids news-grids-mdl">
	    <div class="col-md-5 col-xs-5 datevoy3-voyileits datevoy3-voyileits-fltrt">
	      <img src="/static/images/g1.jpg" class="img-fluid" alt=""/>
	    </div>
	    <div class="col-md-7 col-xs-7 datevoy3-voyileits-info datevoy3-voyileits-info-fltlft">
	      <h5><a href="#" data-toggle="modal" data-target="#myModal">Fusce scelerisque</a></h5>
	      <h6>5/01/2019</h6>
	      <p>Proin euismod vehicula vestibulum. Fusce ullamcorper aliquet dolor id egestas. Nulla leo purus, facilisis non cursus ut, egestas sed ipsum.Fusce ullamcorper aliquet dolor id egestas. Nulla leo purus, facilisis non cursus ut, egestas sed ipsum.Fusce ullamcorper aliquet dolor id egestas. Nulla leo purus, facilisis non cursus ut, egestas sed ipsum.</p>
	    </div>
	    
	  </div>
	  
	</div>
	
      </div>
    </div>
  </div>
  <!-- //news -->

{{end}}
