.navbar-item {
    color:#fff;
}
.navbar{
    background-color:#248bcf!important;
}
.navbar-item .title{
    color:#fff;
}

.is-theme{
    background-color:#248bcf!important;
}
.is-hero-theme{
    background-color:#3498db;
    margin-bottom:1.2em;
}

.feature-box{
    height:350px;
}

.feature-columns{
    margin-bottom:1.2em;
}
.title-content{
    margin-top:50px;
}
.title-content h2{
    font-size:24px;
}


article.post {
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #E6EAEE;
}
article.post:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.menu-list li{
  padding: 5px;
}

.navbar-start{
    background-color:#248bcf;
}
.button.is-theme{
    background-color: #248bcf;
    border-color: transparent;
    color: #fff;
}


.hero.is-documentation {
    background: linear-gradient(to top right, #248bcf 10%, #3498db);
    color:#fff;
}


.is-large.fab {
  font-size: 7em;
}

.trbs iframe{
    height:315px;
}
