{{define "title"}}Web Content Management System{{end}}


{{define "hero"}}
<section class="hero section has-text-centered is-info is-hero-theme">
    <div class="container">
      
      <h1 class="title">
	[W] Wemebox
      </h1>
      <p class="subtitle">
	Easily create your website  with <strong>Wemebox</strong>
	
      </p>
      <p>Wemebox 2.0 coming soon</p>
      
    </div>
  </section>
{{end}}

{{define "content"}}


  
  
  <section class="container feature-columns">
    <div class="columns">
      <div class="column is-4">
	<div class="card is-shady feature-box">
          <div class="card-image has-text-centered">
            <img src="{{.StaticUrl}}/icons/icons8-settings-100.png">
          </div>
          <div class="card-content">
            <div class="content">
              <h4 class="has-text-centered">Zero installation </h4>
              <p>Just download and start creating your Website. You don't have to install any programming environment on your system.</p>
            
            </div>
          </div>
        </div>
      </div>
      <div class="column is-4">
	<div class="card is-shady feature-box">
          <div class="card-image has-text-centered">
            <img src="{{.StaticUrl}}/icons/icons8-certificate-100.png">
          </div>
          <div class="card-content">
            <div class="content">
              <h4 class="has-text-centered">Automatic Free SSL </h4>
              <p>Enable SSL option in the configuration file and let the application automatically install a free SSL for you</p>
            
            </div>
          </div>
        </div>
      </div>
      <div class="column is-4">
	<div class="card is-shady feature-box">
          <div class="card-image has-text-centered">
            <img src="{{.StaticUrl}}/icons/icons8-database-100.png">
          </div>
          <div class="card-content">
            <div class="content">
              <h4 class="has-text-centered">Embedded Database</h4>
              <p>Managing your website's database has never been easier. The application contains an embedded database which can be copied and pasted to a new system without any effort</p>
             
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </section>

    <section class="container feature-columns">
    <div class="columns">
      <div class="column is-4">
	<div class="card is-shady feature-box">
          <div class="card-image has-text-centered">
            <img src="{{.StaticUrl}}/icons/icons8-internet-100.png">
          </div>
          <div class="card-content">
            <div class="content">
              <h4 class="has-text-centered">Built-in Web Server</h4>
              <p>You don't need another Web Server like Apache or Nginx to run this. A high performance web server is built into the application</p>
             
            </div>
          </div>
        </div>
      </div>
      <div class="column is-4">
	<div class="card is-shady feature-box">
          <div class="card-image has-text-centered">
            <img src="{{.StaticUrl}}/icons/icons8-zip-100.png">
          </div>
          <div class="card-content">
            <div class="content">
              <h4 class="has-text-centered">Data compression enabled</h4>
              <p>Wemebox compresses your files for faster loading.</p>
             
            </div>
          </div>
        </div>
      </div>
      <div class="column is-4">
	<div class="card is-shady feature-box">
          <div class="card-image has-text-centered">
            <img src="{{.StaticUrl}}/icons/icons8-web-100.png">
          </div>
          <div class="card-content">
            <div class="content">
              <h4 class="has-text-centered">Simple Content Management System</h4>
              <p>Easy to use content management system which can customize every aspect of your website</p>
              
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </section>

{{end}}
